pre code span.fu      {color: #F9EA6B;}  /* function */
pre code span.kw      {color: #F9EA6B;}  /* keyword */
pre code span.va      {color: #89b0dd;}  /* keyword */
pre code span.op      {color: white;}  /* ? */